:root {
	--z-index-titulo: 9999;
	--z-index-fondo: 0;
	--z-index-entremedio: 50;
	--z-index-personajes: 100;
	--z-index-telaraÃ±a: 200;

	--z-index-contenido: 75;

	--width-primera-seccion-gwen: 360px;
	--width-primera-seccion-peter: 465px;
	--width-primera-seccion-miles: 393px;

	--font: "Lato", sans-serif;
	--fontSize-h1: 60px;
	--fontSize-h2: 40px;
	--fontSize-content: 20px;

	--animation-time: 8s;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: black;
}

/* opt5 */

#seccion-about-spiders {
	position: relative;
	width: 100%;
	height: 720px;
}

#seccion-about-spiders-fondo {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

#seccion-about-spiders-fondo-color {
	position: absolute;
	width: 100%;
	height: 842px;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
}

#seccion-about-spiders-personajes {
	position: relative;
	width: 1080px;
	height: 100%;
	margin: 0 auto;
}

#gwen-seccion-about,
#peter-seccion-about,
#miles-seccion-about {
	position: absolute;
	z-index: 10;
	cursor: pointer;
	transition: top 800ms, left 800ms, right 800ms,
    width 800ms, height 800ms, filter 800ms;
}

#gwen-seccion-about {
	top: 171px;
	left: 90px;
	width: 268px;
	height: 417px;
}

#peter-seccion-about {
	top: 180px;
	left: 293px;
	width: 417px;
	height: 458px;
}

#miles-seccion-about {
	top: 180px;
	right: 88px;
	width: 314px;
	height: 399px;
}