.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

body {
    overflow-y: hidden;
}

#test {
    background: url(resources/section-1/background.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    overflow-x: hidden;
}

#test img {
    position: absolute;
}