/* body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div button {
    padding: 10px;
}

.config {
    background-color: var(--sec-l1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 60%;
    margin: 5% 0;
    border: 5px solid rgb(204, 164, 32);
}

.config>* {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.config>*:not(button){
    width: 80%;
}

.config .player-config * {
    margin: 5px;
}

.player-config input {
    color: var(--black);
} */

.game-canvas {
    position: relative;
    user-select: none;
    /* border-radius: 30px; */
    /* border: 5px solid var(--main-s2);
    background-color: var(--sec-l2); */
}

/* .game-canvas canvas:not(.temporal-canvas) {
    position: relative;
    z-index: 0;
} */

/* .game-canvas canvas {
    position: absolute;
    margin-left: 110px;
    top: 40px;
} */

.player-info {
    position: absolute;
    top: 0px;
    /* display: grid;
    grid-template-rows: 1fr 1fr;  */
    /* border-radius: 20px; */
    height: 550px;
    width: 100px;
    /* border: 2px solid var(--sec-s1); */
    z-index: 1;
}

/* .player-info * {
    color: var(--black);
} */

.player-info div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player-info .user-picture {
    margin: 15px 0;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    /* border: 5px solid var(--black); */
}

.player-info .user-picture img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* .player-info canvas {
    position: relative;
    margin: 0px;
} */

.player-info.p1 {
    left: 10px;
}

.player-info.p2 {
    right: 10px;
}

.temporal-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: grabbing;
}

.temporal-canvas.dying {
    cursor: not-allowed;
}

.winner {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(161, 103, 31, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
