.game-container {
    width: 700px;
    height: 550px;
    background: linear-gradient(to bottom, rgba(213, 167, 107, 0.7) 0%, rgba(154, 115, 71, 0.7) 48%, rgba(121, 89, 47, 0.7) 100%), url(images/background/background-game.jpg);
}

.game-container .config {
    width: 100%;
    height: 100%;
}

.game-container .players {
    animation: appears 1s 1;
}

.game-container .config form {
    width: 50%;
    margin: 1.5rem 0rem;
    background-color: rgba(70, 52, 33, 0.8);
}

.game-container .config .players .player {
    padding: 1rem 0rem;
    border-radius: 0.88rem;
    background-color: rgba(70, 52, 33, 0.8);
}

.game-container .config .players .player form {
    width: 300px;
    padding: 1em 0em;
    margin: 0rem;
    background: transparent;
}

.game-container .config .players input {
    background-color: rgb(148, 124, 98);
    border: 1px solid rgb(241, 204, 165);
}

.game-container .config form select, .game-container .config .players .player form select {
    font-size: medium;
    color: var(--color-white);
    background-color: rgb(148, 124, 98);
    border: 1px solid rgb(241, 204, 165);
}

select:focus-visible {
    outline: none;
}

.game-container .config button.primary, .game-container .game-canvas button.primary {
    background-color: rgb(104, 77, 49);
    font-size: larger;
    animation: appears 1s 1;
}

.game-container .config button.primary:hover, .game-container .game-canvas button.primary:hover {
    background-color: rgb(127, 95, 61);
}

#timer, .playerName {
    text-align: center;
}

.game-canvas {
    position: relative;
    user-select: none;
}

.player-info {
    position: absolute;
    top: 0px;
    height: 550px;
    width: 100px;
    z-index: 1;
}

.player-info div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player-info .user-picture {
    margin: 15px 0;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.player-info .user-picture img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.player-info.p1 {
    left: 10px;
}

.player-info.p2 {
    right: 10px;
}

.temporal-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: grabbing;
}

.temporal-canvas.dying {
    cursor: not-allowed;
}

.winner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(126, 84, 32, 0.6);
    animation: opacity 1s 1;
}

.winner h1 {
    animation: appears 1s 1;
}

.pointer-none {
    pointer-events: none;
    cursor: not-allowed;
}
