@keyframes heartbeat {
  0% {
    transform: scale(.75);
    transform-origin: center;
  }

  25% {
    transform: scale(1);
    transform-origin: center;
  }

  40% {
    transform: scale(.75);
    transform-origin: center;
  }

  60% {
    transform: scale(1);
    transform-origin: center;
  }
}

@keyframes disappears {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes appears {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes opacity-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    transform: translate(0px, -8px);
  }

  40% {
    transform: translate(0px, -6px);
  }

  80% {
    transform: translate(0px, -4px);
  }

  20%,
  60% {
    transform: translate(0px, 1px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes shake {

  0%,
  20%,
  40%,
  60%,
  80% {
    transform: translate(1px, 0px);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-1px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes translate-left {
  from {
    transform: translate(5px, 0px);
  }

  to {
    transform: translate(0px, 0px);
  }
}

@keyframes translate-right {
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(5px, 0px);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

@keyframes rotate-360 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes progress {
  0% {
    width: 0%;
  }

  25% {
    width: 25%;
  }

  50% {
    width: 50%;
  }

  75% {
    width: 75%;
  }

  100% {
    width: 100%;
  }
}

@keyframes shake-deg {
  0%,
  20%,
  40%,
  60%,
  80% {
    transform: rotate(3deg);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: rotate(-3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}