header {
    width: inherit;
    height: 118px;
    /* background-color: blueviolet; */
    background-color: #5499F8;
}

header .menu {
    width: 42px;
    height: 34px;
    top: 16px;
    left: 94px;
    filter: drop-shadow(4px 5px 0px #02187E);
}

header .menu hr {
    height: 4px;
    border-radius: 111px;
    border: 4px solid #2981FF;
    background: #FFE901;
    margin: 0px;
}

header a {
    width: 200px;
    height: 50px;
    top: 12px;
    right: 92px;
}