.sec7 {
    height: 287px;
}

.sec7 h1 {
    top: 25px;
    left: 104px;
    width: 816px;
    font-weight: 400;
}

.sec7 a {
    top: 203px;
    left: 102px;
    width: 292px;
    height: 50px;
}

/* opt5 */

.sec7-2 {
	width: 100%;
	height: 720px;
}

.hero-spiders-bg {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

.hero-spiders-bgC {
	width: 100%;
	height: 842px;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
}

.spiders-pjs {
	width: 1080px;
	height: 100%;
	margin: 0 auto;
}

.gwen,
.peter,
.miles {
	z-index: 10;
	cursor: pointer;
	transition: top 800ms, left 800ms, right 800ms,
    width 800ms, height 800ms, filter 800ms;
}

.gwen {
	top: 171px;
	left: 90px;
	width: 268px;
	height: 417px;
}

.peter {
	top: 180px;
	left: 293px;
	width: 417px;
	height: 458px;
}

.miles {
	top: 180px;
	right: 88px;
	width: 314px;
	height: 399px;
}