.sec3 {
    width: 1080px;
    height: 582px;
    padding: 0px 100px 0px 100px;
    background-color: white;
}

.sec3 div {
    top: 38px;
    /* left: 100px; */
    gap: 36px;
}

.sec3 div p {
    width: 333px;
    margin: 16.31px 0px 0px 0px;
}

/* .sec3 div p:nth-child(2) {
    width: 332px;
} */

.sec3 div p:nth-child(3) {
    margin: 0px;
}