.sec8 {
    height: 1296px;
    background: linear-gradient(180deg, #8FBEFC 21.2%, #F7E3D8 81.48%);
}

.sec8 h1 {
    top: 152px;
    left: 232px;
    width: 816px;
    color: black;
    text-align: center;
    font-weight: 600;
}

.sec8 .input {
    top: 369px;
    left: 250px;
    width: 562px;
    height: 82px;
    padding-left: 52px;
    border-radius: 50px 0px 0px 50px;
    border-top: 9px solid #2982FF;
    border-bottom: 9px solid #2982FF;
    border-left: 9px solid #2982FF;
    background: white;
    box-shadow: 4px 5px 0px 0px #02187E;
    color: rgba(0, 0, 0, 0.39);
    font-size: 20px;
    font-weight: 400;
    line-height: 18.9px;
    letter-spacing: 2.2px;
    margin: 0px;
}

.sec8 a {
    top: 369px;
    left: 812px;
    width: 218px;
    height: 82px;
    border-radius: 0px 50px 50px 0px;
    border: 9px solid #2982FF;
    letter-spacing: 2.2px;
}

.sec8 p {
    top: 508px;
    left: 302px;
    width: 578px;
    height: 95px;
    line-height: 18.9px;
}

.sec8 .rate {
    top: 620px;
    left: 302px;
}

#character-1 {
    top: 1136px;
    left: 219px;
    height: 80px;
    width: 70px;
    background: url('../resources/section-8/character-1.png') left center no-repeat;
}

#character-1:hover {
    background-image: none;
    background-position: 0px;
    background: url("../resources/section-8/spiderman-ssheet-x.png");

    animation: movementOfSpiderAnimation 4s steps(2) infinite;
}

@keyframes movementOfSpiderAnimation {
    0% {
        background-position: 0px 0px;
    }

    100% {
        /* Adjust the background position to fit each frame properly */
        background-position: -140px 0px; /* Adjust based on sprite frame width */
    }
}

.sec8 .characters img:nth-child(2) {
    top: 1072px;
    left: 533px;
}

.sec8 .characters img:nth-child(3) {
    top: 969px;
    left: 998px;
}

.sec8 .background {
    top: 576px;
}