.sec6 {
    width: 1080px;
    height: 787px;
    padding: 0px 100px 0px 100px;
    /* overflow-y: hidden; */
}

.sec6 .background-up {
    top: -213px;
    left: 0px;
}

.sec6 .background-down {
    top: 287px;
    left: 0px;
}

.sec6 h1 {
    top: 35px;
    left: 104px;
    color: black;
    font-weight: 600;
    line-height: normal;
}

.sec6 .container {
    width: inherit;
    height: 350px;
    overflow-x: hidden;
    background-color: white;
    top: 167px;
    padding: 50px 0px 50px 0px;
    scroll-behavior: smooth;
}

.sec6 .container::-webkit-scrollbar {
    display: none;
  }

.sec6 .cards-container {
    gap: 100px;
    position: sticky;
    top: 0px;
}

.sec6 .cards-container img {
    position: absolute;
    transition: all 0.5s ease-in-out;
}

.sec6 .texts-container div {
    padding: 50px 0px 50px 0px;
    transition: all 0.5s ease-in-out;
}

.sec6 .texts-container div:first-child {
    padding: 0px 0px 50px 0px;
}

.sec6 h2 {
    width: 467px;
    color: black;
    font-size: 40px;
    font-weight: 400;
    line-height: 37.8px;
    margin: 0px;
}

.sec6 p {
    width: 467px;
    line-height: 18.9px;
    margin: 25px 0px 0px 0px;
}

#text-4 {
    padding-bottom: 125px;
}

.sec6 .scroll-sign {
    /* justify-content: center;
    align-items: center; */
    width: 200px;
    height: 200px;
    top: 460px;
    left: 50px;
    background: rgba(50, 108, 189);
    border-radius: 200px;
    transition: all 0.3s ease-in-out;
    box-shadow: -12px 10px 18px -5px rgba(0,0,0,0.75);
}

.sec6 .scroll-sign #arrow-div {
    width: fit-content;
    height: fit-content;
    margin: 0px 0px 0px 35px;
    transition: all 0.3s ease-in-out;
    animation: pointing-at 0.7s infinite;
}

.sec6 .scroll-sign h1 {
    justify-self: center;
    align-self: center;
    font-size: 40px;
    transform: rotate(10deg);
    margin: 0px 0px 60px 0px;
}