.sec6 {
    width: 1080px;
    height: 1981px;
    padding: 0px 100px 0px 100px;
}

.sec6 .background {
    top: -213px;
    left: 0px;
}

.sec6 div:nth-child(1) {
    top: 35px;
    left: 104px;
}

.sec6 div:nth-child(1) h1 {
    color: black;
    font-weight: 600;
    line-height: normal;
}

.sec6 div:nth-child(2) {
    top: 167px;
    left: 104px;
}

.sec6 div:nth-child(3) {
    top: 570px;
    left: 108px;
}

.sec6 div:nth-child(4) {
    top: 996px;
    left: 100px;
}

.sec6 div:nth-child(5) {
    top: 1509px;
    left: 104px;
}

.sec6 .card-container {
    gap: 57px;
}

.sec6 .card-container div h2 {
    width: 467px;
    color: black;
    font-size: 40px;
    font-weight: 400;
    line-height: 37.8px;
    margin: 0px;
}

.sec6 .card-container div p {
    width: 467px;
    line-height: 18.9px;
    margin: 25px 0px 0px 0px;
}