@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100&display=swap');
@import url(layout-classes.css);
@import url(header.css);
@import url(section-1.css);
@import url(section-2.css);
@import url(section-3.css);
@import url(section-4.css);

body {
    width: 1280px;
    height: 8968px;
    /* padding: 0px 100px 0px 100px; */
    margin-left: 128px;
    background-color: black;
    font-family: Lato;
}



/* TODO */

.sec5 {
    height: 839px;
}

.sec6 {
    height: 1981px;
}

.sec7 {
    height: 967px;
}

.sec8 {
    height: 1296px;
}

.sec9 {
    height: 80px;
}

.sec10 {
    height: 598px;
}