:root {
    --font1: 'Roboto Condensed', sans-serif;
    --font2: 'Roboto', sans-serif;

    --color-primary: #413075;
    --color-primary-l1: rgb(98, 81, 146);
    --color-primary-l2: rgb(136, 123, 175);
    --color-primary-l3: rgb(170, 158, 205);
    --color-primary-s1: rgb(39, 23, 88);
    --color-primary-s2: rgb(20, 7, 58);
    --color-primary-s3: rgb(18, 9, 46);

    --color-secondary: rgb(38, 113, 88);
    --color-secondary-l1: rgb(71, 141, 118);
    --color-secondary-l2: rgb(113, 170, 151);
    --color-secondary-l3: rgb(140, 197, 178);
    --color-secondary-s1: rgb(14, 85, 62);
    --color-secondary-s2: rgb(0, 57, 38);
    --color-secondary-s3: rgb(0, 42, 28);

    --color-acento: rgb(150, 50, 84);

    --color-white: rgb(242, 241, 248);
    --color-black: rgb(24, 23, 27);

    --color-accept: rgb(89, 210, 116);
    --color-warning: rgb(234, 137, 82);
    --color-delete: rgb(171, 37, 37);
}