@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100&display=swap');
@import url(animations.css);
@import url(custom-properties.css);
@import url(layout-classes.css);
@import url(buttons.css);
@import url(game.css);
@import url(form.css);

/* STYLE GLOBALES */

* {
    margin: 0;
    padding: 0;
    font-family: var(--font1), var(--font2);
}

/* TITLES AND TEXT */

h1,
h2,
h3,
p {
    color: var(--color-white);
}

h1 {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    font-size: 28px;
    font-weight: 400;
    font-variant: all-small-caps;
}

h3 {
    font-size: 24px;
    font-weight: 400;
    font-variant: all-small-caps;
}

p {
    text-align: justify;
    font-size: 16px;
    font-weight: 300;
}

/* INPUT */

input,
textarea {
    background-color: var(--color-primary-s1);
    color: var(--color-white);
    border: 1px solid var(--color-secondary-l3);
    border-radius: 0.75em;
    height: 3em;
    margin: 0.5em;
    padding: 0em 0.7em;
}

input:focus,
textarea:focus {
    outline: 1px solid var(--color-secondary-l3);
}

/* DIVISORES HR */

hr {
    height: 0rem;
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--color-secondary-l3);
    align-self: center;
}

/* BODY */

body.home {
    min-height: 100vh;
    background-color: var(--color-primary);
}

body.login {
    background: url(images/background/background-login.png) no-repeat;
    background-size: cover;
}

body.game {
    background-color: var(--color-black);
}

/* HEADER */

header {
    position: fixed;
    width: 100%;
    background-color: var(--color-primary-s1);
    height: 6.125rem;
    z-index: 1;
}

.logo {
    width: 17rem;
    height: 6rem;
    margin-left: 1rem;
}

.header-utils {
    width: 7rem;
    gap: 1.5rem;
    margin-right: 1rem;
}

.header-utils>img {
    width: 2rem;
    height: 2rem;
}

.menu-desplegable {
    position: fixed;
    justify-content: flex-start;
    height: 22rem;
    top: 6.125rem;
    right: 0;
    width: fit-content;
    background-color: var(--color-primary-l2);
    border-radius: 0rem 0rem 0rem 1.25rem;
    padding: 1rem 2rem;
    box-shadow: -3px 3px 7px 0px rgba(0, 0, 0, 0.29);
    gap: 0.69rem;
    z-index: 1;
}

.menu-desplegable .btn-lista {
    font-size: larger;
}

.menu-desplegable hr {
    width: 100%;
    margin: auto;
}

.log-off {
    margin-top: auto;
}

/* FOOTER */

footer {
    background-color: var(--color-primary-s1);
    height: 12.8125rem;
    margin-top: auto;
}

.footer-col {
    padding-top: 1.75rem;
    gap: 0.75rem;
}

.footer-row {
    gap: 0.9375rem;
}

/* HOME */

main {
    width: 100%;
}

main>figure {
    width: 100%;
    position: relative;
}

figure>div {
    position: absolute;
    top: 70%;
    left: 70%;
}